# Specific files
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251030_plasmid_assembly.txt
Avariegatum_seq/03_cameroonticks/14_Ra_snp/plasmid_coverage_summary.tsv
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251015_snp

# R session clutter (anywhere)
.Rhistory
.RData
.Rproj.user/