# Specific files
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251030_plasmid_assembly.txt
Avariegatum_seq/03_cameroonticks/14_Ra_snp/plasmid_coverage_summary.tsv
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251015_snp
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251017_pca/meta.xlsx
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251017_pca/merged_pca.eigenval
Avariegatum_seq/03_cameroonticks/14_Ra_snp/251017_pca/merged_pca.eigenvec
Avariegatum_seq/03_cameroonticks/15_Ra_coverage/251017_coverage/meta.xlsx
Avariegatum_seq/03_cameroonticks/15_Ra_coverage/250107_coverage/r_africae_1kb_coverage.xlsx
Avariegatum_seq/qPCR/251030_scatterplot_R/scatter.xlsx
Avariegatum_seq/03_cameroonticks/15_Ra_coverage/260107_Ra_coverage

# R session clutter (anywhere)
.Rhistory
.RData
.Rproj.user/